.sidebar {
  display: flex;
  flex-direction: column;

  width: 270px;
  max-height: calc(100vh - 30px);
  box-sizing: border-box;

  padding-top: 20px;
  padding-bottom: 25px;
  border-radius: 25px;
  justify-content: space-between;
  background-color: gray;

  &__navigation {
    display: flex;
    flex-direction: column;
    gap: 45px;
  }
}
